.gradle
.DS_Store
.idea
build/
local.properties
localhost/
obj/
*.iml
Gemfile
Gemfile.lock
_site/
libs/
src/main/res/drawable/
src/main/java/com/googlesamples/topeka/widget/fab/
src/main/java/com/googlesamples/topeka/widget/quiz/
